
.root{
    background-color: white;
    
}


.choisirCategorie{
    padding: 20px; 
}   

.greenbox{
    background-color: greenyellow;
    padding: 15px; 
    width : 300px;
    margin-top: 15px; 
    margin-left : auto;
    margin-right : auto;  
    border-radius: 5px;
    width : 95%; 
}

.tekstChoisirPhotos{
    font-size: 12px;
} 

.singleImage{
    width: 100px; 
    height : auto ;
    
}

.login{
    width : 500px;
    margin-left : auto;
    margin-right : auto;  
    margin-top: 50px; 
    
}

.inputPhoto{
    
    width : 800px;
    height : 300px; 
    margin: auto; 
    margin-top: 50px; 
    padding : 20px; 
}

.tousPhotos{
    width : 300px;
    
}

.center{
    width : 350px;
    margin-left : auto;
    margin-right : auto;  
   
}